body, html {
    height: 100%;  /* Full height */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: #ffffff;
}

.navbar {
    padding: 0.5rem 1rem; /* Reduce padding */
}

.navbar-nav {
    align-items: flex-start; /* Align items to the top */
}

.nav-link {
    color: white;
    padding: 0 0.5rem; /* Manage padding */
    margin-right: 10px; /* Space between links */
    font-size: 1.2em; /* Larger font size for visibility */
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #007bff;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: row; /* Ensure links are in a row on smaller screens */
    }
}
